doctype html
html
    head
        meta(charset="utf-8")
        meta(meta name="viewport",content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
        title #{title}
        link(rel="stylesheet",href="/stylesheets/reset.css")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Lato:300,400,700")
        link(rel="stylesheet",href="/stylesheets/md.css")
        script(src="//code.jquery.com/jquery-1.11.0.min.js")
        script(src="/javascripts/test.js")
        //link(rel="stylesheet",href="/stylesheets/style.css")
    body
        div#main
            header
                span#menu-toggle.button
                    //include ./icons/menu.jade
                h1= message
            section#b.error
                h2= error.status
                div #{error.stack}