doctype html
html
    head
        meta(charset="utf-8")
        meta(meta name="viewport",content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
        script(src="https://use.fontawesome.com/0b5182f2e1.js")
        link(rel="stylesheet",href="/bundle.css")
        title #{title}
    body
        div#root
        script window.logged = #{logged}
        script(src="/bundle.js")
