html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body{
  font-family:system, -apple-system, ".SFNSText-Regular", "San Francisco", "Oxygen", "Ubuntu", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}
html,body,#root,#root>div{height:100%;}
header{
  background:#FFA726;
  color:black;
  height:50px;
  display:flex;
  align-items: center;
  padding:2px;
  position:relative;
}
.chapter{
    width:100%;
    max-width:800px;
    margin:auto;
    padding-bottom:60px;
}
.chapter .row{
  display:flex;
}
.chapter img{
  width:100%;
  height:100%;
}


.list-item{
  color:black;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:solid 1px #c3c3c3;
}

.list-item.read{
  background:#f3f3f3;
  color:#a7a7a7;

}
.list-item a{
  padding: 2px 10px;
  display: flex;
  flex: 1;
  height: 50px;
  align-items: center;
  text-decoration:none;
  color:inherit;
}
.list-item .fa {
    padding: 0 10px;
}
.menu-container{
}
.action-button,.menu-button{
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.title{
  flex-grow:1;
}
#actions{
  position: absolute;
  width: 300px;
  max-width: 100%;
  background: white;
  right: 2px;
  border: solid 2px #c3c3c3;
  border-radius: 5px;
  display: none;
}
#actions.open{
  display:block;
}
.actions-item{
  height:50px;
}

#menu{
  position:absolute;
  width: 300px;
  max-width: 100%;
  background:#FFE082;
  transform: translateX(-100%);
  transition: transform 0.2s;
}
#menu.open{
  transform: translateX(0);
}

.loader{
  width:100%;
  height:"calc(100% - 50px)";
  display:flex;
  align-items: center;
  justify-content: center;
}
.loader>div {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid #000;
    -webkit-animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21,.53,.56,.8);
    animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21,.53,.56,.8);
}

@keyframes ball-scale-ripple {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 1
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .7
    }

    100% {
        opacity: 0
    }
}
.navbuttons{
  position: fixed;
  left:0px;
  bottom: 0px;
  text-align: right;
  width: 100%;
  background: black;
  transition: transform 0.2s;
}
.navbuttons.hidden{
  transform: translateY(60px);
}
.navbuttons a,.navbuttons .current{
  margin:5px;
  display:inline-block;
  border-radius:100%;
  height:50px;
  width:50px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  color:white;
  text-decoration: none;
}
.navbuttons .current{
  width:auto;
}
.unavailable{
  text-align: center;
    padding: 5px;
}
.imageLoader{
  padding:5px;
  text-align: center;
}
